body{
    font-family: sans-serif;
    margin:0;

  }
  
  table{
background: rgb(177, 215, 180);

  }
  
  td , th ,tr{
    padding:8px;
    width:25%;
    text-align: left;
  }


  h2 ,h1{
    color: rgb(223, 121, 98);
  }
  

  
